.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalFormContainer {
    display: flex;
    flex-direction: column;
}

.modalFormContainer>input {
    width: 15vw;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 1vh;
}

.modalFormContainer>input:focus {
    border: 1px solid darkcyan;
    outline: none;
}

.InviteAndCancelBtns {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}

.InviteAndCancelBtns>input,
.cancelBtn {
    width: auto;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 8px 16px;
    background-color: rgb(15, 77, 77);
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.cancelBtn {
    border-radius: 0 8px 8px 0;
    border-left: 1px solid rgb(13, 187, 187);
}

.cancelBtn:hover,
.InviteAndCancelBtns>input:hover {
    background-color: rgba(153, 189, 189, 0.395);
    color: darkcyan;
    font-weight: 700;
}