.table {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.tableHeadRow>th {
    padding: 2px;
    font-size: 16px;
    border-bottom: 1px solid gray;
    border-radius: 2px;
}

.tableHeadRow>th>input[type='checkbox'],
.tableBody>tr>td>input[type='checkbox'] {
    width: 16px;
}

.tableBody>tr>td {
    text-align: center;
    font-size: 16px;
}

.tableBody>tr>td>a {
    text-decoration: none;
    cursor: pointer;
}

.tableBody>tr:hover {
    background-color: rgba(211, 211, 211, 0.492);
}